extends ../_skeleton-component

block append variables
  - var firstParent = 'utilities'
  - var currentPage = 'grid'

block append content
  +PageHeader('Grid')
    p.mt-2 Use Bootstrap's powerful mobile-first flexbox grid to build layouts of all shapes and sizes thanks to a twelve column system, five default responsive tiers, Sass variables and mixins, and dozens of predefined classes.
    a(href='https://getbootstrap.com/docs/4.3/layout/grid/' target='_blank').btn.btn-link.pl-0.btn-sm  Grid on Bootstrap
      span.fas.fa-chevron-right.ml-1.fs--2
  
  .card.mb-3
    .card-header
      h5 Grid options
      p.mb-0 While Bootstrap uses 
        code .col-
        | , 
        code .col-sm-
        | , 
        code .col-md-
        | , 
        code .col-lg-
        |  and 
        code .col-xl-
        | , we introduced a new breakpoint, 
        code .col-xxl-
        |  for the massive screen size.
    .card-body.bg-light
      .table-responsive
        table.table.table-bordered.table-striped.mb-0
          thead
            tr
              th
              th.text-center
                | Extra small
                br
                small &lt;576px
              th.text-center
                | Small
                br
                small ≥576px
              th.text-center
                | Medium
                br
                small ≥768px
              th.text-center
                | Large
                br
                small ≥992px
              th.text-center
                | Extra large
                br
                small ≥1200px
              th.text-center
                | Massive
                br
                small ≥1540px
          tbody
            tr
              th.text-nowrap(scope='row') Max container width
              td None (auto)
              td 540px
              td 720px
              td 960px
              td 1140px
              td 1480px
            tr
              th.text-nowrap(scope='row') Class prefix
              td
                code .col-
              td
                code .col-sm-
              td
                code .col-md-
              td
                code .col-lg-
              td
                code .col-xl-
              td
                code .col-xxl-
            tr
              th.text-nowrap(scope='row') # of columns
              td(colspan='6') 12
            tr
              th.text-nowrap(scope='row') Gutter width
              td(colspan='6') 30px (15px on each side of a column)
            tr
              th.text-nowrap(scope='row') Nestable
              td(colspan='6') Yes
            tr
              th.text-nowrap(scope='row') Column ordering
              td(colspan='6') Yes



  //.card.mb-3
    .card-header
      h5.mb-0 Example
    .card-body.bg-light
      .row.no-gutters.grid-component
        .col-2 col-2
        .col-2 col-2
        .col-2 col-2
        .col-2 col-2
        .col-2 col-2
        .col-2 col-2

        .col-3 col-3
        .col-3 col-3
        .col-3 col-3
        .col-3 col-3

        .col-4 col-4
        .col-4 col-4
        .col-4 col-4

        .col-6 col-6
        .col-6 col-6

        .col-12 col-12

  //.card.mb-3
    .card-header
      h5.mb-0 Responsive grid
    .card-body.bg-light
      .row.no-gutters.grid-component
        .col-sm-6.col-md-4.col-lg-3 col-sm-6 col-md-4 col-lg-4
        .col-sm-6.col-md-4.col-lg-3 col-sm-6 col-md-4 col-lg-4
        .col-sm-6.col-md-4.col-lg-3 col-sm-6 col-md-4 col-lg-4
        .col-sm-6.col-md-4.col-lg-3 col-sm-6 col-md-4 col-lg-4
      .row.no-gutters.grid-component
        .col-6.col-sm-4.col-md-3 col-6 col-sm-4 col-md-3
        .col-6.col-sm-4.col-md-3 col-6 col-sm-4 col-md-3
        .col-6.col-sm-4.col-md-3 col-6 col-sm-4 col-md-3
        .col-6.col-sm-4.col-md-3 col-6 col-sm-4 col-md-3
