extends ../_skeleton-component
include mixins/_grid

block append variables
  - var firstParent = 'utilities'
  - var currentPage = 'grid'

block component
  .card.mb-3
    .card-body
      +PageHeader(pageHeader)
  
  .card.mb-3
    .card-header
      h5 Grid options
      +gridDoc
    .card-body.bg-light
      +gridTable
