extends ../_skeleton-component

block append variables
  - var CWD = '../';
  - var firstParent = 'utilities'
  - var currentPage = 'visibility'
  -
    var pageHeader = {
      title: 'Visibility',
      description: 'Control the visibility, without modifying the display, of elements with visibility utilities.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/Visibility/`,
      linkText: 'Visibility on Bootstrap'
    }

block component
  .card.mb-3.shadow-sm
    .card-body
      +PageHeader(pageHeader)
    
  .card.mb-3.shadow-sm
    .card-body
      p Set the 
        code visibility 
        | of elements with our visibility utilities. These utility classes do not modify the display value at all and do not affect layout – .invisible elements still take up space in the page. Content will be hidden both visually and for assistive technology/screen reader users.

      p Apply 
        code .visible 
        | or 
        code .invisible 
        | as needed.

      +componentCardLib
        .visible
        .invisible
