extends ../_skeleton-component

block append variables
  - var firstParent = 'components'              
  - var currentPage = 'countup'

block component
  +PageHeader('Countup')
    p.mt-2.mb-0 Count up component will start counting after an element with data-countup attribute become visible in the viewport.
  .card.mb-3
    .card-header
      h5.mb-0 Example
    .card-body.bg-light
      +componentCard
        .row
          .col-6.col-md-4.col-xl.mb-4.text-center
            = '\n'
            span.fs-4.font-weight-medium(data-countup!={count: 36487}) 0
            h6 (Default) 
          .col-6.col-md-4.col-xl.mb-4.text-center
            = '\n'
            span.fs-4.font-weight-medium(data-countup!={count: 23542, duration: 10000}) 0
            h6 (Duration 10s) 
          .col-6.col-md-4.col-xl.mb-4.text-center
            = '\n'
            span.fs-4.font-weight-medium(data-countup!={count: 36487, format: 'comma'}) 0
            h6 (Comma) 
          .col-6.col-md-4.col-xl.mb-4.text-center
            = '\n'
            span.fs-4.font-weight-medium(data-countup!={count: 36487, format: 'space'}) 0
            h6 (Space) 
          .col-6.col-md-4.col-xl.mb-4.text-center
            = '\n'
            span.fs-4.font-weight-medium(data-countup!={count: 36487, format: 'alphanumeric'}) 0
            h6 (Alphanumeric) 
          .col-6.col-md-4.col-xl.mb-4.text-center
            = '\n'
            span.fs-4.font-weight-medium(data-countup!={count: 36487, format: 'comma', prefix: '$'}) 0
            h6 (Prefix) 

        
