extends ../_skeleton-component
include mixins/_fancytab

block append variables
  - var firstParent = 'components'              
  - var currentPage = 'fancytab'

block component
  .card.mb-3
    .card-header
      +PageHeader(pageHeader)
    

  .card.mb-3
    .card-header
      h5.mb-1 Example
      p.mb-0
        | Add class 
        code .active
        |  to 
        code .nav-bar-item.px-3.px-sm-4
        |  and corresponding 
        code .tab-content
        |  which you want to show after page loading.
    .card-body.bg-light.overflow-hidden
      +componentCard
        +fancytabWithIcon
             
  .row.no-gutters
    .col-xl-6.pr-xl-2
      .card.mb-3
        .card-header
          h5.mb-1 Left Align
          p.mb-0
            | Left align position is the default position. So no class is needed to add.
        .card-body.bg-light.overflow-hidden
          +componentCard
            +fancytab
    .col-xl-6.pl-xl-2      
      .card.mb-3
        .card-header
          h5.mb-1 Center  Align
          p.mb-0
            | Add class 
            code .nav-bar-center
            |  to 
            code .nav-bar
            |  for fancy-tab position and 
            code .text-center
            |  to 
            code .tab-contents
            |  for content position.
        .card-body.bg-light.overflow-hidden
          +componentCard
            +fancytab.nav-bar-center
              
    .col-xl-6.pr-xl-2
      .card.mb-3
        .card-header
          h5.mb-1 Right  Align
          p.mb-0
            | Add class 
            code .nav-bar-right
            |  to 
            code .nav-bar
            |  for fancy-tab position and 
            code .text-right
            |  to 
            code .tab-contents
            |  for content position.
        .card-body.bg-light.overflow-hidden
          +componentCard
            +fancytab.nav-bar-right
    
