extends ../_skeleton-component
include mixins/_navbar

block append variables
  - var firstParent = 'components'              
  - var currentPage = 'navbar'

block component
  .card.mb-3
    .card-header
      +PageHeader(pageHeader)
    
  .card.mb-3
    .card-header
      h5.mb-0 Navbar Light
    .card-body.bg-light
      +componentCard
        +navigationBar.bg-dark

  .card.mb-3
    .card-header
      h5.mb-0 Navbar Primary
    .card-body.bg-light
      +componentCard
        +navigationBar.bg-primary
