extends ../_skeleton-component
include mixins/_popover

block append variables
  - var firstParent = 'components'              
  - var currentPage = 'popovers'
 
block component
  .card.mb-3
    .card-body
      +PageHeader(pageHeader)
    
  
  .card.mb-3
    .card-header
      h5.mb-0 Examples
    .card-body.bg-light
      +componentCard
        +popover
  
