extends ../_skeleton-component
include mixins/_tooltips

block append variables
  - var firstParent = 'components'              
  - var currentPage = 'tooltips'
 
block component
  .card.mb-3
    .card-body
      +PageHeader(pageHeader)
    

  .card.mb-3
    .card-header
      h5.mb-0 Example
    .card-body.bg-light
      +componentCard
        +tooltips('right')
        +tooltips('bottom')
        +tooltips('left')
        +tooltips('HTML')
        