extends ../_skeleton-component

block append variables
  - var firstParent = 'documentation'              
  - var currentPage = 'file-structure'

block component
  +PageHeader('File structure')
    p.mb-1.mt-2 Within your theme, you’ll find the following directories and files, common grouping resources and providing both compiled, transpired and minified distribution files, as well as raw source files.
  
  +componentCardLib.
    #{version}/
      ├── js/
      |   ├── bootstrap/
      |   ├── theme/
      |   └── plugins/
      ├── pages/
      |   ├── assets/
      |   ├── components/
      |   ├── documentation/
      |   ├── plugins/
      |   ├── utilities/
      |   ├── index.html
      |   └── *.html
      ├── scss/
      |   ├── bootstrap/
      |   ├── theme/
      |   ├── _user.scss
      |   ├── _user-variables.scss
      |   └── theme.scss
      ├── .eslintrc.json
      ├── .gitignore
      ├── gulpfile.js
      ├── package.json
      └── README.md
