extends ../_skeleton-component

block append scripts
  script(src=`${CWD}assets/lib/chart.js/Chart.min.js`)

block append variables
  - var firstParent = 'plugins'              
  - var currentPage = 'charts'

block component
  +PageHeader('Chart')
    p.mt-2 #{theme} uses chart.js - simple yet flexible JavaScript charting for designers & developers
    a(href='//chartjs.org/docs/latest/' target='_blank').btn.btn-link.pl-0.btn-sm  Chart documentations
      span.fas.fa-chevron-right.ml-1.fs--2
  .card.mb-3
    .card-header
      h5.mb-0 Javascript
    .card-body.bg-light   
      +componentCardLib
        script(src=`assets/lib/chart.js/Chart.min.js`)
  
  .row.no-gutters
    .col-lg-6.pr-0.pr-lg-2
      .card.mb-3
        .card-header
          h5.mb-0 Line Chart
        .card-body.bg-light
          +componentCard
            canvas#component-chart-line(width=1618, height=1000)
    .col-lg-6.pl-0.pl-lg-2
      .card.mb-3
        .card-header
          h5.mb-0 Bar Chart
        .card-body.bg-light
          +componentCard
            canvas#chart-bar(width=1618, height=1000)
    .col-lg-6.pr-0.pr-lg-2
      .card.mb-3
        .card-header
          h5.mb-0 Radar Chart
        .card-body.bg-light
          +componentCard
            canvas#chart-radar(width=1618, height=1000)
    .col-lg-6.pl-0.pl-lg-2
      .card.mb-3
        .card-header
          h5.mb-0 Pie Chart
        .card-body.bg-light
          +componentCard
            canvas#chart-pie(width=1618, height=1000)
    .col-lg-6.pr-0.pr-lg-2
      .card.mb-3
        .card-header
          h5.mb-0 Daughnut
        .card-body.bg-light
          +componentCard
            canvas#chart-doughnut(width=1618, height=1000)
    .col-lg-6.pl-0.pl-lg-2
      .card.mb-3
        .card-header
          h5.mb-0 Polar Area
        .card-body.bg-light
          +componentCard
            canvas#chart-polar-area(width=1618, height=1000)
    .col-lg-6.pr-0.pr-lg-2
      .card.mb-3
        .card-header
          h5.mb-0 Bubble chart
        .card-body.bg-light
          +componentCard
            canvas#chart-bubble(width=1618, height=1000)

