extends ../_skeleton-component

block append variables
  - var firstParent = 'plugins'
  - var currentPage = 'progressbar'

block append scripts
  script(src=`${CWD}assets/lib/progressbar.js/progressbar.min.js`)

block component
  +PageHeader('Progressbar')
    p.mt-2 Two types of progress visualizers are available in theme: 
      code .progress-circle
      |  and 
      code .progress-line
      |  .  For more Details see 
    a(href='https://kimmobrunfeldt.github.io/progressbar.js/' target='_blank').btn.btn-link.pl-0.btn-sm  Progressbar documentation
      span.fas.fa-chevron-right.ml-1.fs--2
  .card.mb-3
    .card-header
      h5.mb-0 Example
    .card-body
      +componentCard
        .progress-circle.mb-4(data-options!={progress: 96, text: ``})
        .progress-line.mr-4(data-options!={progress: 93, text: "Google Page Speed"})

  .card
    .card-header
      h5.mb-0 Javascript
    .card-body.bg-light
      +componentCardLib
        script(src=`assets/lib/progressbar.js/progressbar.min.js`)
  
