extends ../_skeleton-component

block append variables
  - var firstParent = 'plugins'              
  - var currentPage = 'remodal'
 
block append styles
  link(href=`${CWD}assets/lib/remodal/remodal.css`, rel='stylesheet')
  link(href=`${CWD}assets/lib/remodal/remodal-default-theme.css`, rel='stylesheet')

block append scripts
  script(src=`${CWD}assets/lib/remodal/remodal.min.js`)

block append content
  +PageHeader('Remodal')
    p.mt-2 Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
    a(href='//github.com/VodkaBears/Remodal#remodal' target='_blank').btn.btn-link.pl-0.btn-sm  Remodal Documentation
      span.fas.fa-chevron-right.ml-1.fs--2
  .card.mb-3
    .card-header
      h5.mb-0 Stylesheet
    .card-body.bg-light
      +componentCardLib
        link(href=`assets/lib/remodal/remodal.css`, rel='stylesheet')
        link(href=`assets/lib/remodal/remodal-default-theme.css`, rel='stylesheet')
  .card.mb-3
    .card-header
      h5.mb-0 Javascript
    .card-body.bg-light
      +componentCardLib
        script(src=`assets/lib/remodal/remodal.min.js`)
  .card.mb-3
    .card-header
      h5.mb-0 Example
    .card-body.bg-light
      .row
        .col-lg-4
          +componentCard
            a(href="#", data-remodal-target='modal').btn.btn-primary Show Modal
        .col-lg-4
          +componentCard
            a.video-modal.btn.btn-primary.mr-3(href='https://www.youtube.com/watch?v=c8aFcHFu8QM' data-start='16' data-end='168') Youtube
        .col-lg-4
          +componentCard
            a.video-modal.btn.btn-primary(href='https://vimeo.com/58558497' data-start='34' data-end='345') Vimeo
    
block append afterContent
  .remodal.rounded-soft(data-remodal-id='modal')
    button.remodal-close(data-remodal-action='close')
    h4 Modal done right
    p.text-sans-serif No matter the task, the new theme is up to it — and even more. See for your self — the pre-made pages, inspired by world's finest websites, are all made with the theme. And this is only a tip of the iceberg of what you can do with theme.
    br
    button.btn.btn-sm.btn-primary.mr-3(data-remodal-action='confirm') Awesome
    button.btn.btn-sm.btn-outline-danger(data-remodal-action='cancel') Cancel
